<div class="login__form">
  <div class="login__text">
    Área restrita para
    <strong>INTEGRADORES</strong>
  </div>
  <form (submit)="login()">
    <input class="login__input" type="text" id="username" [(ngModel)]="username" name="username" required placeholder="CNPJ">

    <input class="login__input" type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Senha">

    <div class="login__div">
      <a href="#" class="login__button">Entrar</a>
      <a href="#" class="login__a">Cadastrar</a>
    </div>
  </form>
</div>

