<div class="login__form">
  <div class="login__text">
    Área restrita para
    <strong>INTEGRADORES</strong>
  </div>

  <form [formGroup]="form" (ngSubmit)="login()">
    <!-- CNPJ -->
    <input
      class="login__input"
      type="text"
      id="cnpj"
      formControlName="cnpj"
      placeholder="CNPJ"
    />
    <span class="error" *ngIf="form.get('cnpj')?.touched && form.get('cnpj')?.invalid">
      O CNPJ é obrigatório
    </span>

    <!-- Senha -->
    <input
      class="login__input"
      type="password"
      id="password"
      formControlName="password"
      placeholder="Senha"
    />
    <span class="error" *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
      A senha é obrigatória
    </span>
    <p (click)="navigate('/alterar-senha')">Esqueceu a senha?</p>

    <div class="login__div">
      <button type="submit" class="login__button" [disabled]="form.invalid" title="Entrar">Entrar</button>
      <a routerLink="/cadastro" class="login__a" title="Cadastrar">Cadastrar</a>
    </div>
  </form>
</div>
