<header class="menu">
  <nav class="menu__nav">
    <ul class="menu__ul">
       <!-- Primeiro menu de 1° nível -->
      <li class="menu__li" title="Gerador de Energia Solar">
        <a href="#Gerador de Energia Solar" class="menu__a">Gerador de Energia Solar
          <svg class="menu__svg" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
          </svg>
        </a>

        <!-- submenu de 1° nível -->
        <ul class="submenu">
          <a href="#On Grid">
            <li class="submenu__one" title="On Grid">
              <span>On Grid</span>
              <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
              </svg>
              <!-- Submenu de 2º nível -->
              <ul class="submenu">
                <a href="#Sungrow">
                  <li class="submenu__one" title="Sungrow">Sungrow
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico">Telhado Cerâmico</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                    </ul>
                  </li>
                </a>
                <a href="#SAJ">
                  <li class="submenu__one" title="SAJ">SAJ
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico">Telhado Cerâmico</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                    </ul>
                  </li>
                </a>
                <a href="#Solplanet">
                  <li class="submenu__one" title="Solplanet">Solplanet
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico">Telhado Cerâmico</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                    </ul>
                  </li>
                </a>
                <a href="#Growatt">
                  <li class="submenu__one" title="Growatt">Growatt
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico">Telhado Cerâmico</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                    </ul>
                  </li>
                </a>
              </ul>
            </li>
          </a>
           <!-- submenu de 1° nível -->
          <a href="#Off Grid Interativo">
            <li class="submenu__one" title="Off Grid Interativo">
              <span>Off Grid Interativo</span>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <!-- submenu de 2° nível -->
              <ul class="submenu">
                <a href="#Must">
                  <li class="submenu__one" title="Must">Must
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico Gancho">Telhado Cerâmico Gancho</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                      <a href="#Telhado Ondulado">
                        <li class="submenu__one" title="Telhado Ondulado">Telhado Ondulado</li>
                      </a>
                    </ul>
                  </li>
                </a>
                <a href="#Luxpower">
                  <li class="submenu__one" title="Luxpower">Luxpower
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico Gancho">Telhado Cerâmico Gancho</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                      <a href="#Telhado Ondulado">
                        <li class="submenu__one" title="Telhado Ondulado">Telhado Ondulado</li>
                      </a>
                    </ul>
                  </li>
                </a>
              </ul>
            </li>
          </a>
           <!-- submenu de 1° nível -->
          <a href="#Hibrido">
            <li class="submenu__one" title="Híbrido">
              <span>Híbrido</span>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                 <!-- submenu de 2° nível -->
              <ul class="submenu">
                <a href="#Luxpower">
                  <li class="submenu__one" title="Luxpower">Luxpower
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico Gancho">Telhado Cerâmico Gancho</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                      <a href="#Telhado Ondulado">
                        <li class="submenu__one" title="Telhado Ondulado">Telhado Ondulado</li>
                      </a>
                    </ul>
                  </li>
                </a>
              </ul>
            </li>
          </a>
           <!-- submenu de 1° nível -->
          <a href="#Retrofit">
            <li class="submenu__one" title="Retrofit">
              <span>Retrofit</span>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                 <!-- submenu de 2° nível -->
              <ul class="submenu">
                <a href="#Must">
                  <li class="submenu__one" title="Must">Must
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                        <a href="#Sem Estrutura">
                          <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                        </a>
                      </ul>
                  </li>
                </a>
                <a href="#Luxpower">
                  <li class="submenu__one" title="Luxpower">Luxpower
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                        <a href="#Sem Estrutura">
                          <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                        </a>
                      </ul>
                  </li>
                </a>
              </ul>
            </li>
          </a>
           <!-- submenu de 1° nível -->
          <a href="#Microinversor">
            <li class="submenu__one" title="Microinversor">
              <span>Microinversor</span>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                 <!-- submenu de 2° nível -->
              <ul class="submenu">
                <a href="#Growatt">
                  <li class="submenu__one" title="Growatt">Growatt
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico Gancho">Telhado Cerâmico Gancho</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                      <a href="#Telhado Ondulado">
                        <li class="submenu__one" title="Telhado Ondulado">Telhado Ondulado</li>
                      </a>
                    </ul>
                  </li>
                </a>
                <a href="#DEYE">
                  <li class="submenu__one" title="DEYE">DEYE
                    <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);" title="Abrir: On Grid">
                      <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                    </svg>
                    <ul class="submenu submenu__two">
                      <a href="#Laje Inclinação">
                        <li class="submenu__one" title="Laje Inclinação">Laje Inclinação</li>
                      </a>
                      <a href="#Sem Estrutura">
                        <li class="submenu__one" title="Sem Estrutura">Sem Estrutura</li>
                      </a>
                      <a href="#Solo Mesa 8 Painéis">
                        <li class="submenu__one" title="Solo Mesa 8 Painéis">Solo Mesa 8 Painéis</li>
                      </a>
                      <a href="#Telhado Cerâmico">
                        <li class="submenu__one" title="Telhado Cerâmico Gancho">Telhado Cerâmico Gancho</li>
                      </a>
                      <a href="#Telhado Metálico Mini Trilho">
                        <li class="submenu__one" title="Telhado Metálico Mini Trilho">Telhado Metálico Mini Trilho</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Madeira">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Madeira">Telhado Fibro Parafuso Madeira</li>
                      </a>
                      <a href="#Telhado Fibro Parafuso Metal">
                        <li class="submenu__one" title="Telhado Fibro Parafuso Metal">Telhado Fibro Parafuso Metal</li>
                      </a>
                      <a href="#Telhado Ondulado">
                        <li class="submenu__one" title="Telhado Ondulado">Telhado Ondulado</li>
                      </a>
                    </ul>
                  </li>
                </a>
              </ul>
            </li>
          </a>
        </ul>
      </li>
       <!-- Segundo menu de 1° nível -->
      <li class="menu__li" title="Painel Solar">
        <a href="#" class="menu__a">Painel Solar
          <svg class="menu__svg" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z"/>
          </svg>
        </a>
        <ul class="submenu">
          <a href="#Trina">
            <li class="submenu__one" title="Trina">Trina</li>
          </a>
          <a href="#Era Solar">
            <li class="submenu__one" title="Era Solar">Era Solar</li>
          </a>
        </ul>
      </li>
       <!-- Terceiro menu de 1° nível -->
      <li class="menu__li" title="Inversor Solar">
        <a href="#" class="menu__a">Inversor Solar
          <svg class="menu__svg" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z"/>
          </svg>
        </a>
        <!-- submenu de 1° nível -->
        <ul class="submenu">
          <a href="#On Grid">
              <li class="submenu__one" title="On Grid">
                <span>On Grid</span>
                  <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16" style="transform: rotate(-90deg);">
                    <path fill-rule="evenodd"
                      d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                  </svg>
                   <!-- submenu de 2° nível -->
                <ul class="submenu">
                  <a href="#Songrow">
                    <li class="submenu__one" title="Songrow">Songrow</li>
                  </a>
                </ul>
              </li>
            </a>
        </ul>
      </li>
       <!-- Quarto menu de 1° nível -->
      <li class="menu__li" title="Energia">
        <a href="#" class="menu__a">Energia
          <svg class="menu__svg" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z"/>
          </svg>
        </a>

      </li>
    </ul>
  </nav>

  <div class="menu__button">
    <a href="#" class="menu__button-a" title="Seja Integrador">Seja Integrador</a>
    <a href="#" class="menu__button-a" title="Entrar">Entrar</a>
  </div>

</header>

