.menu {
  background-color:#4FA9FF;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
  justify-content: center;
  padding: 0 20rem;
  box-shadow: 0 1px rgba(0, 0, 0, .04), inset 0 -1px rgba(0, 0, 0, .04);
  color: #4a4f55;
  height: 54px;
}

.menu__ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__li {
  position: relative;
  // display: flex;
  // align-items: center;
  cursor: pointer;
  z-index: 999;
}

.menu__li:hover {
  background-color: #f0f0f0;
  border-radius: 2px;
}

.menu__a {
  text-decoration: none;
  color: #4A4f55;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: .05rem;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 0.30rem;
  white-space: nowrap;
}

.menu__button {
  display: flex;
  gap: 1rem;
  margin-left: 5rem;
  position: relative;
}

.menu__button-a {
  background-color: #4A4f55;
  color: #4FA9FF;
  border-radius: 2px;
  padding: 14px 15px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: .05rem;
  white-space: nowrap;
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu__button-links {
  background-color: #4A4f55;
  height: 30px;
  margin-left: 10rem;
}

.login__container {
  position: absolute;
  top: 20%;
  right: 13rem;
  width: 15%;
  height: 45%;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.menu__svg {
  margin-top: 10px;
  opacity: .5;
}

.menu__svg-one {
  opacity: .5;
  margin-left: 8px;
  flex-shrink: 0;
  margin-bottom: 5px;
}

.submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu__one {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 0;
  font-size: 15px;
}

.submenu__one:hover {
  background-color: #f0f0f0;
}

.menu__li > .submenu {
  display: none;
  position: absolute;
  top: 100%; /* Aparece abaixo do item pai */
  left: 0;
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  min-width: 180px;
}

.menu__li:hover > .submenu {
  display: block;
}

.submenu li {
  position: relative;
}

.submenu li > .submenu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%; /* Abre ao lado direito do submenu pai */
  background-color: white;
  padding: 0.5rem 0;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  min-width: 180px;
  z-index: 1000;
}

.submenu li:hover > .submenu {
  display: block;
}

a {
  text-decoration: none;
  color: #4A4f55;
}

.submenu__a {
  display: block;
}
