<header class="menu">
  <nav class="menu__nav">
    <ul class="menu__ul">
       <!-- Primeiro menu de 1° nível -->
      <li class="menu__li" title="Gerador de Energia Solar">
        <a class="menu__a">
          Gerador de Energia Solar
          <svg class="menu__svg" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
          </svg>
        </a>

        <!-- submenu de 1° nível -->
        <ul class="submenu">
          <li class="submenu__one" title="On Grid" (click)="navigateTo('On-Grid')">
            <a class="submenu__a">On Grid</a>
            <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
              style="transform: rotate(-90deg);" title="Abrir: On Grid">
              <path fill-rule="evenodd"
                d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
            </svg>

            <!-- Submenu de 2º nível -->
            <ul class="submenu">
              <li class="submenu__one" title="Sungrow" (click)="navigateTo('On-Grid', 'sungrow')">
                <a>Sungrow</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one" title="Laje Inclinação"><a>Laje Inclinação</a></li>
                  <li class="submenu__one" title="Sem Estrutura"><a>Sem Estrutura</a></li>
                  <li class="submenu__one" title="Solo Mesa 8 Painéis"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one" title="Telhado Cerâmico"><a>Telhado Cerâmico</a></li>
                  <li class="submenu__one" title="Telhado Metálico Mini Trilho"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Madeira"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Metal"><a>Telhado Fibro Parafuso Metal</a></li>
                </ul>
              </li>

              <li class="submenu__one" title="SAJ">
                <a>SAJ</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one" title="Laje Inclinação"><a>Laje Inclinação</a></li>
                  <li class="submenu__one" title="Sem Estrutura"><a>Sem Estrutura</a></li>
                  <li class="submenu__one" title="Solo Mesa 8 Painéis"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one" title="Telhado Cerâmico"><a>Telhado Cerâmico</a></li>
                  <li class="submenu__one" title="Telhado Metálico Mini Trilho"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Madeira"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Metal"><a>Telhado Fibro Parafuso Metal</a></li>
                </ul>
              </li>

              <li class="submenu__one" title="Solplanet">
                <a>Solplanet</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one" title="Laje Inclinação"><a>Laje Inclinação</a></li>
                  <li class="submenu__one" title="Sem Estrutura"><a>Sem Estrutura</a></li>
                  <li class="submenu__one" title="Solo Mesa 8 Painéis"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one" title="Telhado Cerâmico"><a>Telhado Cerâmico</a></li>
                  <li class="submenu__one" title="Telhado Metálico Mini Trilho"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Madeira"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Metal"><a>Telhado Fibro Parafuso Metal</a></li>
                </ul>
              </li>

              <li class="submenu__one" title="Growatt">
                <a>Growatt</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one" title="Laje Inclinação"><a>Laje Inclinação</a></li>
                  <li class="submenu__one" title="Sem Estrutura"><a>Sem Estrutura</a></li>
                  <li class="submenu__one" title="Solo Mesa 8 Painéis"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one" title="Telhado Cerâmico"><a>Telhado Cerâmico</a></li>
                  <li class="submenu__one" title="Telhado Metálico Mini Trilho"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Madeira"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one" title="Telhado Fibro Parafuso Metal"><a>Telhado Fibro Parafuso Metal</a></li>
                </ul>
              </li>
            </ul>
          </li>
           <!-- submenu de 1° nível -->
        <li class="submenu__one" title="Off Grid Interativo" (click)="navigateTo('off-grid-interativo')">
          <a>Off Grid Interativo</a>
          <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
            style="transform: rotate(-90deg);">
            <path fill-rule="evenodd"
              d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
          </svg>

          <!-- Submenu de 2° nível -->
          <ul class="submenu">
            <!-- Must -->
            <li class="submenu__one" title="Must">
              <a>Must</a>
              <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                style="transform: rotate(-90deg);" title="Abrir: On Grid">
                <path fill-rule="evenodd"
                  d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
              </svg>

              <ul class="submenu submenu__two">
                <li class="submenu__one"><a>Laje Inclinação</a></li>
                <li class="submenu__one"><a>Sem Estrutura</a></li>
                <li class="submenu__one"><a>Solo Mesa 8 Painéis</a></li>
                <li class="submenu__one"><a>Telhado Cerâmico Gancho</a></li>
                <li class="submenu__one"><a>Telhado Metálico Mini Trilho</a></li>
                <li class="submenu__one"><a>Telhado Fibro Parafuso Madeira</a></li>
                <li class="submenu__one"><a>Telhado Fibro Parafuso Metal</a></li>
                <li class="submenu__one"><a>Telhado Ondulado</a></li>
              </ul>
            </li>

            <!-- Luxpower -->
            <li class="submenu__one" title="Luxpower">
              <a>Luxpower</a>
              <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                style="transform: rotate(-90deg);" title="Abrir: On Grid">
                <path fill-rule="evenodd"
                  d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
              </svg>

              <ul class="submenu submenu__two">
                <li class="submenu__one"><a>Laje Inclinação</a></li>
                <li class="submenu__one"><a>Sem Estrutura</a></li>
                <li class="submenu__one"><a>Solo Mesa 8 Painéis</a></li>
                <li class="submenu__one"><a>Telhado Cerâmico Gancho</a></li>
                <li class="submenu__one"><a>Telhado Metálico Mini Trilho</a></li>
                <li class="submenu__one"><a>Telhado Fibro Parafuso Madeira</a></li>
                <li class="submenu__one"><a>Telhado Fibro Parafuso Metal</a></li>
                <li class="submenu__one"><a>Telhado Ondulado</a></li>
              </ul>
            </li>
          </ul>
        </li>
          <!-- submenu de 1° nível -->
          <li class="submenu__one" title="Híbrido" (click)="navigateTo('hibrido')">
            <a>Híbrido</a>
            <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
              style="transform: rotate(-90deg);">
              <path fill-rule="evenodd"
                d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
            </svg>

            <!-- Submenu de 2° nível -->
            <ul class="submenu">
              <li class="submenu__one" title="Luxpower">
                <a>Luxpower</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>

                <ul class="submenu submenu__two">
                  <li class="submenu__one"><a>Laje Inclinação</a></li>
                  <li class="submenu__one"><a>Sem Estrutura</a></li>
                  <li class="submenu__one"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one"><a>Telhado Cerâmico Gancho</a></li>
                  <li class="submenu__one"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Metal</a></li>
                  <li class="submenu__one"><a>Telhado Ondulado</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!-- submenu de 1° nível -->
          <li class="submenu__one" title="Retrofit" (click)="navigateTo('retrofit')">
            <a>Retrofit</a>
            <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
              style="transform: rotate(-90deg);">
              <path fill-rule="evenodd"
                d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
            </svg>

            <!-- Submenu de 2° nível -->
            <ul class="submenu">

              <!-- Must -->
              <li class="submenu__one" title="Must">
                <a>Must</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one">
                    <a>Sem Estrutura</a>
                  </li>
                </ul>
              </li>

              <!-- Luxpower -->
              <li class="submenu__one" title="Luxpower">
                <a>Luxpower</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one">
                    <a>Sem Estrutura</a>
                  </li>
                </ul>
              </li>

            </ul>
          </li>
           <!-- submenu de 1° nível -->
          <li class="submenu__one" title="Microinversor" (click)="navigateTo('microinversor')">
            <a>Microinversor</a>
            <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
              style="transform: rotate(-90deg);">
              <path fill-rule="evenodd"
                d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
            </svg>

            <ul class="submenu">

              <!-- Growatt -->
              <li class="submenu__one" title="Growatt">
                <a>Growatt</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one"><a>Laje Inclinação</a></li>
                  <li class="submenu__one"><a>Sem Estrutura</a></li>
                  <li class="submenu__one"><a>Telhado Cerâmico Gancho</a></li>
                  <li class="submenu__one"><a>Telhado Metálico Mini Trilho</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Metal</a></li>
                  <li class="submenu__one"><a>Telhado Ondulado</a></li>
                </ul>
              </li>

              <!-- DEYE -->
              <li class="submenu__one" title="DEYE">
                <a>DEYE</a>
                <svg class="menu__svg-one" xmlns="http://www.w3.org/2000/svg" width="16" fill="currentColor" viewBox="0 0 16 16"
                  style="transform: rotate(-90deg);" title="Abrir: On Grid">
                  <path fill-rule="evenodd"
                    d="M.2.4c.4-.4 1-.5 1.4-.1l2.9 3 2.9-3c.4-.4 1.1-.4 1.4.1.3.4.3.9-.1 1.3L4.5 6 .3 1.6C-.1 1.3-.1.7.2.4z" />
                </svg>
                <ul class="submenu submenu__two">
                  <li class="submenu__one"><a>Laje Inclinação</a></li>
                  <li class="submenu__one"><a>Sem Estrutura</a></li>
                  <li class="submenu__one"><a>Solo Mesa 8 Painéis</a></li>
                  <li class="submenu__one"><a>Telhado Cerâmico Gancho</a></li>
                  <li class="submenu__one"><a>Telhado Metálico MiniTrilho</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Madeira</a></li>
                  <li class="submenu__one"><a>Telhado Fibro Parafuso Metal</a></li>
                  <li class="submenu__one"><a>Telhado Ondulado</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="menu__button">
    <a *ngIf="!(isAuthenticated$ | async)" routerLink="/cadastro" class="menu__button-a" title="Seja Integrador">Seja Integrador</a>
    <a *ngIf="!(isAuthenticated$ | async)" class="menu__button-a" title="Entrar" (click)="openLogin()" #loginButton>Entrar</a>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="(isAuthenticated$ | async)" class="menu__button-links">Menu</button>
    <app-mini-cart *ngIf="(isAuthenticated$ | async)"></app-mini-cart>
    <mat-menu #menu="matMenu" class="mat-menu">
      <button mat-menu-item routerLink="/perfil" *ngIf="(isAuthenticated$ | async)">Perfil</button>
      <button mat-menu-item routerLink="/produtos">Produtos</button>
      <button mat-menu-item routerLink="/carrinho">Carrinho</button>
      <button mat-menu-item *ngIf="isAdmin" routerLink="/admin">Gerenciar usuários</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </div>

  <div *ngIf="showLogin"
    appClickOutside (clickOutside)="closeLogin()"
    class="login__container">
    <app-login (loginSuccess)="closeLogin()"></app-login>
  </div>

</header>
