.profile-edit-container {
  max-width: 720px;
  margin: 2rem auto;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.20);
  background: #f1efef;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
  }

  .subtitle {
    color: #666;
    margin-bottom: 1.5rem;
  }
}

.edit-card {
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #383d44;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #f1efef;
  }

  h4 {
    margin-top: 0;
    color: #f1efef;
  }

  button {
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid ;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }

  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;

    .wide {
      grid-column: span 2;
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;

  button {
    background-color: #383D44;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
  }
}
