<mat-toolbar>
  <span class="logo">SOL+</span>
  <span class="spacer"></span>

  <div class="search_form">
    <form action="">
      <div class="search_container">
        <input type="text" placeholder="Procure o que você precisa" aria-label="Pesquisa" autocomplete="off"
          class="search_input">
        <button mat-icon-button type="submit" aria-label="Buscar" class="search_button">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </form>
  </div>

  <div class="contato">
    <strong>Fale Conosco</strong>
    <a href="https://wa.me/61994434652" title="Fale com a gente pelo telefone: (61) 994434652">(61) 99443-4652</a>
  </div>
</mat-toolbar>
