mat-toolbar {
  display: flex;
  background-color: white;
  height: 104px;
  align-items: center;
  padding: 0 250px;
}

/* Logo Angular Story */
.logo {
  padding: 20px;
  cursor: pointer;
}

.logo:hover {
  border-color: black;
}

.spacer {
  color: #4C4F54;
  font-weight: 500;
}

.search_form {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.search_container {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.search_input {
  flex: 1;
  padding: 8px 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
}

.search_button {
  border: none;
  background: transparent;
  padding: 8px;
  outline: none;
}

.search_container:focus-within {
  border-color: #FFD700;
}

.search_button mat-icon:hover{
  color: #FFD700;
}

.contato {
  display: flex;
  flex-direction: column;
  border: 2px solid #6C757D;
  border-radius: 0.6rem;
  padding: 0.1rem 0.5rem;
}

.contato strong {
  color: #6c757d;
  text-align: right;
  font-size: 1rem;
}

.contato a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
