<mat-toolbar>
  <div class="logo">
    <img src="/assets/img/logo-vr.png" alt="Logo" routerLink="/home" title="VR Energia Distribuidora de Produtos para Geração de Energia Solar!">
  </div>

  <div class="search_form">
    <div>
      <div class="search_container">
        <form (ngSubmit)="onSearchSubmit()" class="search_form_internal">
          <input name="search" [(ngModel)]="searchTerm" type="text" placeholder="Procure o que você precisa" aria-label="Pesquisa" autocomplete="off"
            class="search_input" />
          <button mat-icon-button type="button" aria-label="Limpar busca" class="search_button" (click)="clearSearch()">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button type="submit" aria-label="Buscar" class="search_button">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="contato">
    <strong>Faça um Orçamento</strong>
    <a href="https://wa.me/61999738084" target="_blank" title="Fale com a gente pelo telefone: (61) 99973-8084">(61) 99973-8084</a>
  </div>
</mat-toolbar>
