<mat-toolbar color="primary">
  <span class="logo">🛒 Angular Store</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/home" class="home__button">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-button routerLink="/login" class="login__button">
    <mat-icon>person_pin</mat-icon>
    <span>Olá, faça seu login</span>
  </a>
  <a mat-button routerLink="/cart" class="cart__button">
    <mat-icon>shopping_cart</mat-icon>
    <span>Carrinho</span>
  </a>
</mat-toolbar>
